.App {
 
  background-color: #282c34;
  min-height: 100vh;
 
  min-width: 100vw;
  
  
}
.navBar{
  display:grid;
  grid-template-columns: 10% auto;
}
.home{
  position: relative;
}
.marker{
  background-image: url('helmet.jpg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  opacity:70%;
}
.shop{
  background-image: url('shop.jpeg');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 85%;
}
.mapbox-gl-popup{
  max-width:200px;
}
.mapbox-gl-popup.content{
  text-align:center;
  font-family: 'Open Sans', sans-serif;
}
.mapContainer{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.acard{
  border: 2px solid rgb(36, 0, 0);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50% auto;
  background:#05103f;
  color:#6dc289

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


 


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
