.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-rows: 18vh auto;
}
.navBar{
  color: white;
  background:#000;
  font-size: 1vw;
  font-family: serif;
  display:grid;
  padding: 1vh;
  text-align: center;
  grid-template-columns: 10vw auto auto auto;
}
.navBar button{
  font-size: 2vw;
font-family: serif;
color: white;
background: black;
margin: 1vw;
margin-top: 4vh;
padding: 1vh;
border-radius:8px;
height: 50%;
}
.navBar button:hover{
background:#222;
border-radius:3px;
}
.brand img{
position: relative;
height: 10vh;
width: 7vw;
top: 3vh;
margin: auto;
border-radius:8px;
}
.home{
  display: none;
  text-align: center;
  color: white;
  border: 3px solid white;
  padding: 1vw;
  background: black;
}
.merch{
  text-align: center;
  display:none;
  background:black;
  color: white;
  border: 3px solid white;
}
.key{
  text-align:center;
  display: none;
  background: black;
  color: white;
  border: 3px solid white;
}
.keyList{
  display:grid;
}
.keyListItem{
  display:grid;
  grid-template-columns: auto auto;
  border-top: 1px solid white;
}
.keyListItem img{
  height: 3vh;
  width: 3vw;
  margin-top: auto;
  margin-bottom: auto;
  
  border-radius:50%;
}
.closeBtn button{
  background: darkslategrey;
  color: maroon;
}
.closeBtn button:hover{
  background: black;
  color: white;
}
.marker{
  background-image: url("https://i.ibb.co/x1dR6Fw/helmet.jpg");
  background-size: cover;
  width: 15px;
  height: 15px;
  border:3px solid black;
  border-radius: 50%;
  cursor: pointer;
 
}

.parks{
  background-image: url('https://i.ibb.co/FBPWF2d/park.jpg');
  background-size: cover;
  width: 15px;
  height: 15px;
  border:3px solid olivedrab;
  border-radius: 50%;
  cursor: pointer;
}
.mapbox-gl-popup{
  max-width:200px;
}
.mapbox-gl-popup.content{
  text-align:center;
  font-family: 'Open Sans', sans-serif;
}
.mapContainer{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
@media only screen and (max-width: 1000px){
.navBar button{
  font-size: 4vw;
}
}

